* {
  margin: 0;
  padding: 0;
}

<!-- Body styling -->

.body {
  display: flex;
  width: 1200px;
  opacity: 0.9;
}

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

<!-- Header styling -->

.header {
  display: flex;
  z-index: 1;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  color: seashell;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  border: 2px solid blue;
}

.logo {
  display: flex;
  height: 50px;
  padding-left: 10px;
  border: 2px solid blue;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 10px;
}

<!-- Mission -->

#mission {
  display: block;
}

.missiontext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 69px;
  height: 700px;
  width: 1200px;
  border: 1px solid white;
  background-image: url("../images/tea.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.missiontext h2, h4 {
  display: block;
  text-align: center;
  background-color: black;
  padding: 8px;
}

<!-- Tea of the month -->

#tea {
  display: flex;
}

.monthly {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  border: 1px solid white;
  padding-top: 70px;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid blue;
}

.teapic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 300px;
}

.teapic img {
  height: 200px;
}

.teapic span {
  padding-top: 10px;
}

<!-- Locations -->

#locations {
  display: block;
}

.locations {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  border: 1px dotted white;
}

.portland {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.store {
  display: block;
  padding: 15px 5px;
  margin: 15px 20px;
  width: 300px;
  height: 230px;
  text-align: center;
  background-color: black;
  opacity: 1;
  border: 3px dotted blue;
}

.store h3, p {
  padding-bottom: 15px;
  padding-top: 15px;
}

<!-- Contact -->

.contact {
  height: 200px;
}

.contact h2, h5 {
  padding: 15px 0px;
  text-align: center;
}

footer {
  text-align: left;
  padding-left: 20px;
}
